footer {
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  background-color: black;
  color: #777777;

  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 0.5rem;

    .social-network {
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      width: 1.2rem;
      height: 1.2rem;
      margin: 0.5rem;
      &:hover {
        filter: brightness(200%);
      }
    }

    .twitter {
      background: url('./../assets/twitter-brands.svg');
    }
  }
}