header {
  $header-size: $container-min-size;

  z-index: 1;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
  min-height: $header-size;

  .intro {
    position: relative;
    bottom: -$intro-position;
    background: #ffffff;
    padding: 20px;
    border-radius: 6px;
    margin: 0 auto;
    width: 65%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 4px 6px 34px -4px #99939980;

    .intro__photo {
      &>img {
        width: 100%;
        height: 100%;
      }
      max-width: $header-size;
      max-height: $header-size;
      overflow: hidden;
      border-radius: 6px;
      margin-right: 5%;
      box-shadow: 4px 6px 34px -4px #99939980;

      @keyframes easter-egg {
        0% {
          transform: rotateY(90deg);
        }
        100% {
          transform: rotateY(0deg);
        }
      }

      &.egg {
        background-image: url('./../assets/cookie-monster.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        animation: easter-egg 1s ease-in;
        img {
          opacity: 0;
        }
      }
    }

    .intro__info {
      $intro-color: #777777;
      $into-text-size: 1.1rem;
      $into-icon-margin: 1.5rem;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      max-width: $header-size;
      max-height: $header-size;

      &>* {
        margin: 2rem 0;
      }

      .info__username {
        text-transform: uppercase;
        position: relative;
        margin-bottom: 1rem;
        font-size: 2.5rem;
        &::before {
          content: "Hi my name is";
          position: absolute;
          top: -1.8rem;
          left: 0;
          text-transform: none;
          font-weight: lighter;
          font-size: 1.1rem;
          color: $intro-color
        }
      }

      @mixin intro-info-block(
        $logo, 
        $text-size: $into-text-size, 
        $text-color: $intro-color, 
        $margin: $into-icon-margin
      ) {
        color: $text-color;
        position: relative;
        display: block;
        margin: 0.8rem #{$margin};
        font-size: $text-size;
        line-height: $text-size;
        &::before {
          content: '';
          position: absolute;
          left: calc(-#{$into-icon-margin});
          mask: $logo;
          mask-repeat: no-repeat;
          background-color: $text-color;
          background-repeat: no-repeat;
          width: $text-size;
          height: $text-size;
        }

        &:hover {
          color: black;
        }

        &:hover::before {
          background-color: black;
        }
      }

      .info__position {
        font-weight: bold;
        font-size: 1.2rem;
      }

      .info__date-of-birth {
        @include intro-info-block(url('./../assets/calendar-regular.svg'));
      }

      .info__phone {
        @include intro-info-block(url('./../assets/phone-solid.svg'));
      }

      .info__email {
        @include intro-info-block(url('./../assets/envelope-regular.svg'));
      }

      .info__social {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        $icon-size: 2rem;

        @mixin social-network($image, $margin: 1rem, $color: $intro-color) {
          mask: url($image);
          mask-repeat: no-repeat;
          background-color: $color;
          background-repeat: no-repeat;
          width: $icon-size;
          height: $icon-size;
          margin: 0 $margin;

          &:hover {
            background-color: #000000;
          }

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }

        .linkedin {
          @include social-network('./../assets/linkedin-in-brands.svg');
        }

        .stackoverflow {
          @include social-network('./../assets/stack-overflow-brands.svg');
        }

        .github {
          @include social-network('./../assets/github-brands.svg');
        }

        .resume {
          @include social-network('./../assets/file-pdf-regular.svg');
        }
      }
    }
  }

  @media only screen and (max-width: 1300px) {
    .intro {
      $header-size: 500px;
      .intro__info {
        max-width: $header-size;
        max-height: $header-size;
      }

      .intro__photo {
          max-width: $header-size;
          max-height: $header-size;
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    
    .intro {
      $header-size: 500px;
      $intro-position: -5rem;

      bottom: $intro-position;
      width: 75%;
      
      .intro__info {
        width: 100%;
        align-items: center;
        margin: 2rem;
        max-width: $header-size;
        max-height: $header-size;

        .info__username::before {
          content: '';
        }

        &>* {
          padding-left: 1rem;
          width: 100%;
          margin: 0.5rem 0;
        }

        &>*:last-child {
          padding: 0;
          margin-top: 3rem;
        }
      }

      .intro__photo {
        margin: 0;
        max-width: $header-size;
        max-height: $header-size;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    .intro {
      flex-direction: column;

      .intro__info {
        &>*:last-child {
          justify-content: center;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    
    .intro {
      $header-size: 500px;
      
      display: block;
      position: initial;
      width: 100%;
      border-radius: 0;
      
      .intro__info {
        width: 100%;
        align-items: center;
        margin: 0;

        &>* {
          padding-left: 0;
        }

        &>*:last-child {
          justify-content: center;
        }

        .info__username {
          font-size: 2rem;
        }
      }

      .intro__photo {
        margin: 0 auto;
        max-width: $header-size;
        max-height: $header-size;
      }
    }
  }
}
