.navigation {
  position: fixed;
  display: block;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0000004d;
  z-index: 2;

  .navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    color: #ffffff;

    .navigation__item {
      position: relative;
      text-transform: uppercase;
      list-style-type: none;
      cursor: pointer;
      &:hover::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
      }

      a {
        color: #ffffff;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    position: initial;

    .navigation__list {
      flex-direction: column;
      height: initial;
      padding: 1rem 0;
      background-color: hsla(0, 0%, 0%, 0.5);
    }
  }
}
