.navigation {
  position: fixed;
  display: block;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  // ie and edge does not supprt other formats with opacity
  background-color: hsla(0, 0%, 0%, 0.302);
  z-index: 2;

  .navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // hack for ie and edge cause they does not support space-evenly
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    color: #ffffff;

    // hack for ie and edge cause they does not support space-evenly
    &::before, &::after {
      content: '';
      display: block;
    }

    .navigation__item {
      position: relative;
      text-transform: uppercase;
      list-style-type: none;
      cursor: pointer;
      &:hover::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
      }

      a {
        color: #ffffff;
        min-height: $min-element-height-on-mobile;
        line-height: $min-element-height-on-mobile;
        display: inline-block;
        font-weight: bold;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    position: initial;

    .navigation__list {
      flex-direction: column;
      height: initial;
      padding: 1rem 0;
      background-color: hsla(0, 0%, 0%, 0.5);
    }
  }
}
