$min-width-to-show-hamburger: 600px;

.navigation {
  position: fixed;
  display: block;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  // ie and edge does not supprt other formats with opacity
  background-color: hsla(0, 0%, 0%, 0.302);
  z-index: 2;

  .navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // hack for ie and edge cause they does not support space-evenly
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    color: #ffffff;

    // hack for ie and edge cause they does not support space-evenly
    &::before,
    &::after {
      content: '';
      display: block;
    }

    .navigation__item {
      position: relative;
      text-transform: uppercase;
      list-style-type: none;
      cursor: pointer;
      &:hover::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
      }

      a {
        color: #ffffff;
        min-height: $min-element-height-on-mobile;
        line-height: $min-element-height-on-mobile;
        display: inline-block;
        font-weight: bold;
      }
    }
  }

  .navigation__hamburger {
    display: inline;
    position: fixed;
    left: 1rem;
    top: 1rem;
    opacity: 0;
    transition: opacity 0.5s linear;

    .hamburger {
      display: inline-block;
      position: fixed;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #505050;
      border: none;
      color: #505050;
      z-index: 1000;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 30%;
        left: 25%;
        width: 50%;
        height: 4px;
        background-color: white;
        transition: transform 0.3s linear;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 30%;
        left: 25%;
        width: 50%;
        height: 4px;
        background-color: white;
        transition: transform 0.3s linear;
      }
    }

    @media only screen and (max-width: $min-width-to-show-hamburger) {
    }
  }

  @media only screen and (max-width: 600px) {
    transition: left 0.5s ease-in-out;
    left: -120%;
    background-color: hsla(0, 0%, 0%, 0.7);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.active {
      left: 0;

      .navigation__hamburger > .hamburger {
        &::before {
          transform: translateY(150%) rotate(45deg);
        }

        &::after {
          transform: translateY(-150%) rotate(-45deg);
        }
      }
    }

    .navigation__list {
      flex-direction: column;
      height: initial;
      padding: 1rem 0;
    }

    .navigation__hamburger {
      opacity: 1;
    }
  }
}
