$container-min-size: 700px;
$container-width: 85%;
$intro-position: 200px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fefefe;
  font-size: 16px;
}

section {
  margin: 5rem auto;
  width: $container-width;

  @media only screen and (max-width: 1200px) {
    margin: 5rem auto;
    width: 75%;
  }

  @media only screen and (max-width: 600px) {
    margin: 5rem auto;
    width: 100%;
  }
}

@import 'header.scss';
@import 'navigation.scss';
@import 'about.scss';
@import 'trainings.scss';


