$container-min-size: 500px;
$container-width: 75%;
$intro-position: 200px;
$min-element-height-on-mobile: 48px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fefefe;
  font-size: 16px;
  touch-action: manipulation;
}

section {
  margin: 5rem auto;
  width: $container-width;

  @media only screen and (max-width: 1200px) {
    margin: 5rem auto;
    width: 75%;
  }

  @media only screen and (max-width: 1000px) {
    width: 90%;
  }

  @media only screen and (max-width: 600px) {
    margin: 5rem auto;
    width: 100%;
  }
}

@mixin title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  text-align: center;
}

@import 'header.scss';
@import 'navigation.scss';
@import 'about.scss';
@import 'timeline.scss';
@import 'trainings.scss';
@import 'education.scss';
@import 'footer.scss';


