* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fefefe;
  font-size: 16px;
}

@import 'header.scss';
@import 'navigation.scss';


