.trainings {
  .trainings__title {
    @include title;
  }

  .trainings__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    .trainings__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      margin: 1.5rem 0;

      &>a:nth-child(2) {
        text-decoration: none;
        color: black;
        cursor: pointer;
      }

      @mixin logo($image-path, $height: 200px, $width: 200px) {
        background-image: url($image-path);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        min-width: $width;
        min-height: $height;
        cursor: pointer;
      }

      @keyframes flip-y {
        0% {
          transform: rotateY(0deg);
        }

        50% {
          transform: rotateY(90deg);
        }

        100% {
          transform: rotateY(0deg);
        }
      }

      @keyframes flip-x {
        0% {
          transform: rotateX(0deg);
        }

        50% {
          transform: rotateX(90deg);
        }

        100% {
          transform: rotateX(0deg);
        }
      }

      .kotlin {
        @include logo('./../assets/school-logo.svg', 120px);

        &:hover {
          animation: flip-y 1.5s ease-in-out;
        }
      }

      .rss {
        @include logo('./../assets/rss.svg');
        background-position-x: -25px;
        transition: transform 1s;

        &:hover {
          transform: rotate(360deg);
        }
      }

      .mongo {
        @include logo('./../assets/mongodb.svg', 120px);

        &:hover {
          animation: flip-x 1.5s ease-in-out;
        }
      }

      
      @keyframes trainings {
        0% {
          opacity: 0;
          transform: scale(0.1);
        }

        50% {
          opacity: 0.1;
          transform: scale(0.3);
        }

        75% {
          opacity: 0.3;
          transform: scale(0.5);
        }

        100% {
          opacity: 1;
          transform: scale(1);
        }
      }

      &.trainings__item--animated {
        animation: trainings 1s ease-in;
      }
    }
  }
}